<mat-list>
    <mat-list-item>
        <mat-icon mat-list-icon>description</mat-icon>
        <div mat-line>
            <mat-form-field>
            <input matInput type="text" name="title" id="title" [(ngModel)]="data.todo.title" placeholder="Title" />
            </mat-form-field>
        </div>
        <div mat-line>
            <mat-form-field>
            <input matInput type="text" name="description" id="description" [(ngModel)]="data.todo.description" placeholder="Description" />
            </mat-form-field>
        </div>
        <div mat-line>
            <mat-form-field>
                <mat-select placeholder="User" name="user" id="user" [(ngModel)]="data.todo.user" >
                    <mat-option *ngFor="let user of userList" [value]="data.todo.user">
                    {{data.todo.user.fName}}  {{data.todo.user.lName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div mat-line>
            <mat-form-field>
            <input matInput type="dateDue" name="dateDue" id="dateDue" [(ngModel)]="data.todo.dateDue" placeholder="Date Due" />
            </mat-form-field>
        </div>
        <div mat-line><button mat-raised-button (click)="editTodo(data.todo)">Submit</button></div>
    </mat-list-item>
</mat-list>