<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="todos" *ngIf="todosList">
      
        <mat-list>
            <h3 mat-subheader>To Do</h3>
            <mat-list-item *ngFor="let todo of todosList | todoFilter: 'status' : 'Incomplete'; let i=index">
              <mat-icon mat-list-icon>description</mat-icon>
              <h4 mat-line>{{todo.title}}</h4>
              <p mat-line> Added {{todo.date | date}}: {{todo.description}}</p>
              <p mat-line>Date Due: {{todo.dateDue}}</p>
              <div class="list-action-row" mat-line>
                <button mat-button class="mat-button" (click)="doneTodo(todo)">Complete</button>
                <button mat-button>Edit</button>
                <button mat-button (click)="deleteTodo(todo)">Delete</button>
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Completed</h3>
            <mat-list-item *ngFor="let todo of todosList | todoFilter: 'status' : 'Complete'; let i=index">
                <mat-icon mat-list-icon>description</mat-icon>
                <h4 mat-line>{{todo.title}}</h4>
                <p mat-line> Added {{todo.date | date}}: {{todo.description}}</p>
                <p mat-line>Date Due: {{todo.dateDue}}</p>
                <div class="list-action-row" mat-line>
                  <button mat-button class="mat-button" (click)="undoTodo(todo)">Incomplete</button>
                </div>
              </mat-list-item>
          </mat-list>
        <!--
        <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Title</th>
            <th class="h">Description</th>
            <th class="h">Date</th>
            <th class="h">Status</th>
            <th class="h">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr class="todo" (dblclick)="editTodo(todo)" *ngFor="let todo of todosList">
            
            <ng-container *ngIf="!editTodos.includes(todo); else editTD">
              <td>{{todo.title}}</td>
              <td>{{todo.description}}</td>
              <td>{{todo.date | date}}</td>
              <td>{{todo.status}}</td>
            </ng-container>

            <ng-template #editTD>
                <td><input type="text" name="title" id="title" (keypress)="submitTodo($event, todo)" [(ngModel)]="todo.title" placeholder="Title" class="form-control"></td>
                <td><input type="text" name="description" id="description" (keypress)="submitTodo($event, todo)" [(ngModel)]="todo.description" placeholder="Description"
                    class="form-control"></td>
                <td>{{todo.date | date}}</td>
                <td>
                  <input type="text" name="status" id="status" (keypress)="submitTodo($event, todo)" [(ngModel)]="todo.status" placeholder="Status" class="form-control">
                </td>
            </ng-template>

            <td class="o">
              <button class="btn btn-success" (click)="doneTodo(todo)">
                <i  class="fa fa-check"></i>
              </button>
              <button class="btn btn-primary" (click)="editTodo(todo)">
                  <i  class="fa fa-pencil"></i>
                </button>
              <button class="btn btn-danger" (click)="deleteTodo(todo)">
                  <i  class="fa fa-trash"></i>
                </button>
            </td>

          </tr>
        </tbody>
      </table>
    -->
    <form>
      <div class="form-row">

        <div class="col-md-4">
          <input type="text" name="title" id="title" [(ngModel)]="newTodo.title" placeholder="Title" class="form-control">
        </div>
        <div class="col-md-4">
          <input name="description" id="description" [(ngModel)]="newTodo.description" placeholder="Description" class="form-control">
        </div>
        <div class="col-md-2">
            <input name="dateDue" id="dateDue" [(ngModel)]="newTodo.dateDue" placeholder="Due Date" class="form-control">
          </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="createToDo()">Add</button>
        </div>
      </div>
    </form>
  
  <form>
      <div class="form-row">

        <div class="col-md-5">
          <input type="text" name="fName" id="fName" [(ngModel)]="newUser.fName" placeholder="First Name" class="form-control">
        </div>
        <div class="col-md-5">
          <input name="lName" id="lName" [(ngModel)]="newUser.lName" placeholder="Last Name" class="form-control">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="createUser()">Add</button>
        </div>
      </div>
    </form>
  
  <div class="col-md-2">
    
  </div>
</div>