<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="todos" >
      <button mat-raised-button color="primary" id="showTodoButton" (click)="showTodos()">ToDos</button>
      <button mat-raised-button id="userButton" id="showUserButton" (click)="showUsers()">Users</button>
    </div>
    <div class="users" *ngIf="isShowingUsers">
        <mat-card>
            <mat-card-header>
              <mat-card-title>Add a new User</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <form>
                <div class="form-row">
                  <mat-form-field class="col-md-3">
                    <input matInput name="fName" id="fName" [(ngModel)]="newUser.fName" placeholder="First Name">
                  </mat-form-field>
                  <mat-form-field class="col-md-4">
                    <input matInput name="lName" id="lName" [(ngModel)]="newUser.lName" placeholder="Last Name">
                  </mat-form-field>
                  <div class="col-md-2"><button mat-raised-button type="submit" class="mat-button" (click)="createUser()">Add</button></div>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
          <mat-list>
              <h2 mat-subheader>Users</h2>
            <mat-list-item *ngFor="let user of userList">
              <mat-icon mat-list-icon>description</mat-icon>
              <h3 mat-line>{{user.fName}} {{user.lName}}</h3>
              <p mat-line>Added: {{user.dateCreated | date:'MM/dd/yyyy'}}</p>
              <button mat-raised-button type="submit" class="mat-button" (click)="deleteUser(user)">Delete</button>
            </mat-list-item>
          </mat-list>
    </div>
    <div class="todos" *ngIf="isShowingTodos">
      
      <mat-card>
        <mat-card-header>
          <mat-card-title>Add a new To Do</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form>
            <div class="form-row">
              <mat-form-field class="col-md-3">
                <input matInput name="title" id="title" [(ngModel)]="newTodo.title" placeholder="Title">
              </mat-form-field>
              <mat-form-field class="col-md-3">
                <input matInput name="description" id="description" [(ngModel)]="newTodo.description" placeholder="Description">
              </mat-form-field>
              <mat-form-field class="col-md-2">
                  <mat-select placeholder="User" name="user" id="user" [(ngModel)]="newTodo.user" >
                    <mat-option *ngFor="let user of userList" [value]="user">
                      {{user.fName}}  {{user.lName}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input matInput [matDatepicker]="dateDue" name="dateDue" id="dateDue" [(ngModel)]="newTodo.dateDue" placeholder="Due Date">
                <mat-datepicker-toggle matSuffix [for]="dateDue"></mat-datepicker-toggle>
                <mat-datepicker #dateDue></mat-datepicker>
              </mat-form-field>
              <div class="col-md-2"><button mat-raised-button type="submit" class="mat-button" (click)="createToDo()">Add</button></div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>

      <mat-list>
        <h2 mat-subheader>To Do</h2>

        <ng-container ngProjectAs="mat-list-item" *ngFor="let todo of todosList | todoFilter: 'status' : 'Incomplete'; let i=index">

          <mat-list-item *ngIf="!editTodos.includes(todo); else editTD">
            <mat-icon mat-list-icon>description</mat-icon>
            <h3 mat-line>{{todo.title}}</h3>
            <p mat-line>Added: {{todo.dateCreated | date:'MM/dd/yyyy'}}</p>
            <p mat-line >Assigned to: {{todo.user.fName}} {{todo.user.lName}}</p>
            <p mat-line>{{todo.description}}</p>
            <p mat-line>Date Due: {{todo.dateDue | date:'MM/dd/yyyy'}}</p>
            <div class="list-action-row" mat-line>
              <button mat-raised-button class="mat-button" (click)="doneTodo(todo)">Complete</button>
              <button mat-raised-button (click)="editTodo(todo)">Edit</button>
              <button mat-raised-button (click)="deleteTodo(todo)">Delete</button>
              <button mat-raised-button (click)="openDialog(todo)"><mat-icon>launch</mat-icon></button>
            </div>
          </mat-list-item>

          <ng-template #editTD ngProjectAs="mat-list-item">
            <mat-list-item>
              <mat-icon mat-list-icon>description</mat-icon>
              <div mat-line>
                <mat-form-field>
                  <input matInput type="text" name="title" id="title" (keypress)="submitTodo($event, todo)" [(ngModel)]="todo.title" placeholder="Title" />
                </mat-form-field>
              </div>
              <div mat-line>
                <mat-form-field>
                    <mat-select placeholder="User" name="user" id="user" [(ngModel)]="todo.user" >
                      <mat-option *ngFor="let user of userList" [value]="todo.user">
                        {{todo.user.fName}}  {{todo.user.lName}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
              </div>
              <div mat-line>
                <mat-form-field>
                <input matInput type="text" name="description" id="description" (keypress)="submitTodo($event, todo)" [(ngModel)]="todo.description" placeholder="Description" />
                </mat-form-field>
              </div>
              <div mat-line>
                  <mat-form-field>
                    <input matInput [matDatepicker]="dateDue" name="dateDue" id="dateDue" [(ngModel)]="todo.dateDue" placeholder="Due Date">
                    <mat-datepicker-toggle matSuffix [for]="dateDue"></mat-datepicker-toggle>
                    <mat-datepicker #dateDue></mat-datepicker>
                  </mat-form-field>
              </div>
              <div mat-line><button mat-raised-button (click)="editTodo(todo)">Submit</button></div>
            </mat-list-item>
          </ng-template>

        </ng-container>

        <mat-divider></mat-divider>

        <h2 mat-subheader>Completed</h2>
        <mat-list-item *ngFor="let todo of todosList | todoFilter: 'status' : 'Complete'; let i=index">
          <mat-icon mat-list-icon>description</mat-icon>
          <h3 mat-line>{{todo.title}}</h3>
          <p mat-line>Added: {{todo.dateCreated | date:'MM/dd/yyyy'}}</p>
          <p mat-line>{{todo.description}}</p>
          <p mat-line>Date Due: {{todo.dateDue | date:'MM/dd/yyyy'}}</p>
          <div class="list-action-row" mat-line>
            <button mat-raised-button class="mat-button" (click)="undoTodo(todo)">Incomplete</button>
          </div>
        </mat-list-item>
      </mat-list>
  
    <div class="col-md-2"></div>
  </div>
</div>