/* You can add global styles to this file, and also import other style files */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* Start Material Theme */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('../node_modules/@angular/material/prebuilt-themes/indigo-pink.css');
.todos{
    .mat-card.todo-card{
        margin: 0 0 20px;
        .mat-card-avatar{
            .fa{
                opacity: .3;
            }
        }
    }
    .mat-list-item-content{
        .mat-form-field{
            width:100%;
        }
    }
    .mat-raised-button{
        margin:1px;
    }
}
